@font-face {
    font-family: 'Söhne';
    src: url('./TestSöhne-Buch.otf') format('opentype');
    /* Use 'truetype' for TTF files */
}

.pc-container1 {
    
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1%;

}

.pc-container1>div {
    padding: 20px;
    font-family: "Söhne", sans-serif;
}

.image-box {
    width: 194px;
    height: 217px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: aqua;
}

/* Style for the image */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* Maintain aspect ratio and cover the container */
}

.container2 {
    display: flex;
    flex-direction: column;
    margin-top: -1%;
}

.pc-container3 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 4px;
}

/* .pc-container3 {
    
} */

.pc-line1 {
    border-top: 1.5px solid #B6B6B9;
}

.pc-container4 {
    display: flex;
    height: 30px;
    width: 600px;
    border-radius: 7px;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin-left: 4px;
}

.pc-container5 {
    padding: 1px;
}

@media (max-width: 768px) {


    .pc-container2 {
        margin-top: -10%;
    }

    .pc-container5 {
        display: flex;
        margin-top: -8%;
    }

}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .smart-btn{
        margin-left: 20px;
    }
    .pc-container1{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .pc-container2 {
        margin-top: -10%;
    }

    .pc-container5 {
        display: flex;
        margin-top: -8%;
    }
}